.post {
  display: flex;
}

.photo {
  width: 40rem;
  height: 40rem;
}

.sidebar {
  width: 20rem;
  height: 40rem;
  background: blue;
}

.header {
  display: flex;
  align-items: center;
  background: white;
}

.profilePic {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 1rem;
}

.comments {
  height: 30rem;
  background: lightblue;
  overflow: scroll;
}

.comment {
  display: flex;
}

.text {
  width: 15rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.actions {
  display: flex;
  justify-content: space-between;
}
